<div>
     <div data-ng-switch="queriedResults.length">
         <div data-ng-switch-when="0">
             <div class="row">
                 <div class="span5"></div>
                 <div class="span2">
                     <span us-spinner="{radius:65, top:'45', lines:25}"></span>
                 </div>
                 <div class="span5"></div>
             </div>
         </div>
         <div data-ng-switch-default>
             <table class="table table-striped">
                 <thead>
                   <tr>
                       <th>Ip Address</th>
                       <th>Port Number</th>
                       <th>Protocol</th>
                       <th>Service Type</th>
                       <th>Address Type</th>
                       <th>Port Open</th>
                   </tr>
                 </thead>
                 <tbody>
                     <tr data-ng-repeat="result in queriedResults">
                         <td>{{result.ipAddress}}</td>
                         <td>{{result.port}}</td>
                         <td>{{result.protocol}}</td>
                         <td>{{result.service}}</td>
                         <td>{{result.ipAddressType}}</td>
                         <td>{{result.connected}}</td>
                     </tr>
                 </tbody>
             </table>

         </div>
     </div>
</div>
<div data-ng-if="queryClone.totalItems > 0 ">
    <pagination total-items="queryClone.totalItems"
                items-per-page="queryClone.numPerPage"
                page="nav.currentPage"
                class="pagination-small"
                boundary-links="true"
                rotate="false"
                num-pages="nav.numberOfPages"
                on-select-page="queryResults(page)"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></pagination>
</div>